/* CSS declarations go here */
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    background-color: #fefefe;
} 
html, body {
    height: 100%;
}

#react-app {
    height: 100%;
}